<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form action="#" method="post">
    <div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Customer ID</th>
                        <th scope="col">Order Items</th>
                        <th scope="col">Filled</th>
                    </tr>
                </thead>
                <tbody>
                <repeat group="{{ @orders }}" value="{{ @order }}">
                    <check if="@order[status] == 0">
                    <tr>
                        <td>{{@order[orderID]}}</td>
                        <td>{{@order[customerID]}}</td>
                        <td>{{@order[itemsOrdered]}}</td>
                        <!-- need to ad   -->
                        <td><button class="btn" type="submit" value="{{@order['orderID']}}" name="submit">Complete</button></td>
                    </tr>
                    </check>
                </repeat>
                </tbody>
            </table>
        </div>
    </div>
</form>

</body>
</html>