<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form action="#" method="post">
    <div>
        <div>
            <repeat group="{{ @menuItems }}" value="{{ @item }}">
                <check if="{{@orderItems && in_array(@item[itemID], @orderItems)}}">
                    <p class="{{@total += @item[itemPrice] }}">{{@item[itemName]}}<span class="mr-2"></span>{{@item[itemPrice]}}</p>
                </check>


            </repeat>
            <h4> Total: {{@total }}</h4>
        </div>
        <div>
            <repeat group="{{ @menuItems }}" value="{{ @item }}">
                <check if="{{@orderItems && in_array(@item[itemID], @orderItems)}}">
                    <p class="{{@total += @item[itemPrice] }}">{{@item[itemName]}}<span class="mr-2"></span>{{@item[itemPrice]}}</p>
                </check>


            </repeat>
            <h4> Total: {{@total }}</h4>
        </div>
    </div>
</form>

</body>
</html>