<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-Up</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="styles/signUpStyles.css" rel="stylesheet">
</head>
<body>
    <video autoplay muted loop id="mobileHomeVideo">
        <source src="video/bubblingBeer.mp4" type="video/mp4">
    </video>

    <!-- div containing sign up -->
    <div id="signUpDiv">
        <form action="#" method="post">
            <h1>Sign Up</h1>
            <hr>
            <div class="row border-0 ml-0">
                <div class="col-md-8">
                    <div class="form-group"><!--Name -->
                        <label class="font-weight-bold" for="fname" >First Name</label>
                        <div>
                            <input type="text" class="form-control"  name="fname" id="fname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="lname" >Last Name</label>
                        <div>
                            <input type="text" class="form-control"  name="lname" id="lname">
                        </div>
                    </div>
                    <div class="form-group"><!--Age -->
                        <label class="font-weight-bold" for="address" >Address</label>
                        <div>
                            <input type="text" class="form-control"  name="address" id="address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="city">City</label>
                        <div>
                            <div>
                                <input type="text" class="form-control"  name="city" id="city">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="state" >State</label>
                        <div>
                            <input type="text" class="form-control"  name="state" id="state">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="zip" >Zip</label>
                        <div>
                            <input type="text" class="form-control"  name="zip" id="zip">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="font-weight-bold" for="phone" >Phone</label>
                    <div>
                        <input type="text" class="form-control"  name="phone" id="phone">
                    </div>
                    <label class="font-weight-bold" for="email" >Email</label>
                    <div>
                        <input type="text" class="form-control"  name="email" id="email">
                    </div>
                    <label class="font-weight-bold" for="password" >Password</label>
                    <div>
                        <input type="text" class="form-control"  name="password" id="password">
                    </div>
                </div>
            </div>
            <div class="row border-0">
                <div class="col-md-10">

                </div>
                <div class="col-md-2"><!--next button column  -->
                    <div>
                        <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>