.wrapper{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(100px, 250px);
    grid-template-areas:
            "mt mt mt mt mt mt mt mt mt"
            "ml mn mn mn mn mn mp mp mr"
            "ml mn mn mn mn mn mp mp mr"
            "mb mb mb mb mb mb mb mb mb";
    width: 100%;
    background-color: #e0e0e0;
    border: 2px solid goldenrod;

}

.box1{
    grid-area: mt;
}

.box2{
    grid-area: ml;
}

.box3{
    grid-area: mn;
    /*background-color: grey;*/
    display: grid;
    overflow-y: auto;
}

.box4{
    grid-area: mp;
    background-color: white;
}

.box5{
    grid-area: mr;
}

.box6{
    grid-area: mb;
}

.media {
    border: 2px solid goldenrod;
    border-radius: 5px;
    background-color: #e0e0e0;
    width:100%;
}
.media {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 2fr 1fr;
    grid-template-areas: "img drink content price push";
    margin-bottom: 1em;
}

.media.flipped {
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-areas: "content img price";
}

.media .image {
    grid-area: img;
    background-color: #f0ad4e;
    object-fit: cover;
}

.media .drink {
    grid-area: drink;
    padding: 10px;
}

.media .text {
    grid-area: content;
    padding: 10px;

}

.media .price {
     grid-area: price;
     padding: 10px;

 }

.media .push {
    width: 100%;
    grid-area: push;
    padding: 10px;

}